<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>


<div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">INCLUSÃO DE BOLETAGEM</div>
      <div class="panel-body">
          <form>
            <div class="row">
              <div class="col-sm">
                <div class="form-group">
                  <label for="cliente">Cliente</label>
                  <select class="form-control" id="cliente">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
              <div class="col-sm">
                <div class="form-group">
                  <label for="superintendente">Superintendente</label>
                  <input class="form-control" id="superintendente" disabled>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <div class="form-group">
                  <label for="gerente">Gerente</label>
                  <input class="form-control" id="gerente" disabled>
                </div>
              </div>
              <div class="col-sm">
                <div class="form-group">
                  <label for="filial">Filial</label>
                  <input class="form-control" id="filial" disabled>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <div class="form-group">
                  <label for="tipoOperacao">Tipo de Operação</label>
                  <select class="form-control" id="tipoOperacao">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
              <div class="col-sm">
                <div class="form-group">
                  <label for="moeda">Moeda</label>
                  <select class="form-control" id="moeda">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-sm">
                <div class="form-group">
                  <label for="banco">Banco</label>
                  <select class="form-control" id="banco">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <div class="form-group">
                  <label for="valorOperacao">Valor da Operação</label>
                  <input class="form-control" id="valorOperacao">
                </div>
              </div>
              <div class="col-sm">
                <div class="form-group">
                  <label for="preco">Preço</label>
                  <input class="form-control" id="preco">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <div class="form-group">
                  <label for="valorBruto">Valor Bruto</label>
                  <input class="form-control" id="valorBruto" disabled>
                </div>
              </div>
              <div class="col-sm">
                <div class="form-group">
                  <label for="custo">Custo</label>
                  <input class="form-control" id="custo">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <div class="form-group">
                  <label for="cotacaoOnline">Cotação Online</label>
                  <input class="form-control" id="cotacaoOnline" disabled>
                </div>
              </div>
            </div>
          </form>
      </div>
    </div>
</div>