<div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Pessoas</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" appCampoColorido [cor]="'yellow'" #campo="campoColorido">
      </div>

      <div class="ui-g-12 ">
        <button pButton type="submit" label="Pesquisar"></button>
        <button pButton class="btn btn-info" label="Colorir" (click)="campo.colorir()" style="margin-left: 5px; margin-right: 5px;"></button>
        <button pButton class="btn btn-info" label="Descolorir" (click)="campo.descolorir()"></button>
      </div>
    </div>

    <div class="ui-g-">
        <div class="ui-g-12">
            <app-pessoas-grid [pessoas]="pessoas"></app-pessoas-grid>
        </div>
    </div>

    <div class="ui-g-12">
      <a pButton label="Nova Pessoa"></a>
    </div>
</div>
